div.css-1r6slb0.e1tzin5v2{ 
    background-color: #ffffff;
    border: 2px solid #CCCCCC;
    padding: 1% 1% 1% 1%;
    border-radius: 5px;
}
div.css-12w0qpk.e1tzin5v2{ 
    background-color: #ffffff;
    border: 2px solid #CCCCCC;
    padding: 1% 1% 1% 1%;
    border-radius: 5px;
}
